* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #4D515D;
	font-family: "Roboto",monospace;
}

.main-wrapper {
	display: flex;
	width: 950px;
	border: 1px solid red;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 10px 15px 5px rgba(77,81,93,1);
}

.info-side-wrapper {
	width: 100%;
}

.info-side-top {
	padding: 50px 35px;
}

.info-side-top h1 {
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
}

.info-side-top p {
	display: flex;
	flex-direction: column;
	
}

.info-side-top p>span {
	font-size:  13px;
	color: gray;
}

.social-links-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 60px;
}

.social-link-item {
	border: 1px solid rgba(0,0,0, 0.1);
	margin-bottom: 20px;
	border-radius: 8px;
	transition:  all 0.5s ease,
}

.social-link-item:hover {
	box-shadow: 0px 9px 10px 5px rgba(193,194,199, 1);
	border-color: transparent;
}

.social-link-item:hover span {
	color: black;
}

.social-link-item:last-child {
	margin-bottom: 0;
}

.social-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: darkgrey;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px 20px;
}

.social-link span {
	flex-grow: 1;
	text-align: center;
	font-size: 15px;
}

.info-side-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 35px;
}

.info-side-bottom a {
	text-decoration: none;
	font-weight: bold;
	color: darkgrey;
	text-transform: uppercase;
	font-size: 14px;
}

.info-side-bottom span {
	font-weight: 400;
}
.site-img {
	display: block;
	object-fit: cover;
}

.info-side-bottom a:hover {
	color: black;
}